<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Todo Edit Task</h1>
    
    <form action="/todo/edit" method="post">
        <input hidden type="text" name="id" value="<%=data._id%>"/>
        <input type="text" name="task" value="<%=data.task%>" placeholder="enter your task"/>
        <button type="submit" name="submit">submit</button>
    </form>
    
</body>
</html>